<article class="box">

    {{ if .Params.image }}
    <!-- use either src or link-thumb for thumbnail image -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <div class="img" style="background-image: url('{{ .Params.image }}');">
            <img itemprop="thumbnail" src="{{ .Params.image }}" />
        </div>
        <a href="{{ .Params.image }}" itemprop="contentUrl"></a>
    </figure>
    {{ end }}

    {{/*}}
    <div class="post-entry">
        {{ if .Truncated }}
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}
    {{*/}}
</article>