{{ define "main" }}
<div class="cover font-white">
  <div class="cover-content border-white">
    <div class="homepage-content-wrapper d-flex justify-content-between flex-column">
      <header class="text-right">
        <h1 class="sitename font-weight-light letter-spacing-wide">kathysmith.photography</h1>
      </header>
      <main id="content" class="content" role="main">
        <div class="text-right">
          <h1 id="title" class="name-tag letter-spacing-none">Kathy Smith</h1>
          <p class="sub-header letter-spacing-wide">Photography</p>
          <nav class="homepage-nav nav nav-light font-weight-light small mt-3 justify-content-end">
            <ul>
              <li><a class="nav-link" href="/galleries/action">Action</a></li>
              <li><a class="nav-link" href="/galleries/people">People</a></li>
              <li><a class="nav-link" href="/galleries/scapes">Scapes</a></li>
              <li><a class="nav-link" href="/galleries/stills">Stills</a></li>
              <li><a class="nav-link" href="/galleries/wild">Wild</a></li>
            </ul>
          </nav>
        </div>
      </main>
      <footer class="homepage-footer">
        <div class="social text-right">
          <div class="social-icon">
            <a href="https://www.facebook.com/kathy.smith.33046" target="_blank" class="icon-wrapper facebook">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 64 64">
                <g id="facebook-icon" fill="transparent">
                  <path
                    d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z" />
                </g>
                <g id="facebook-mask" fill="white">
                  <path
                    d="M0,0v64h64V0H0z M39.6,22l-2.8,0c-2.2,0-2.6,1.1-2.6,2.6V28h5.3l-0.7,5.3h-4.6V47h-5.5V33.3H24V28h4.6V24 c0-4.6,2.8-7,6.9-7c2,0,3.6,0.1,4.1,0.2V22z" />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{{ end }}